{% load static %}
<div class="modal fade thumb" style="background-image: url('{% static 'images/modal.jpg' %}'); background-size: cover;"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body"  style="width: 100%; height: 600px;">
        
          <div  data-dismiss="modal" aria-label="Close" style='width:70px;height:70px;position: absolute;cursor: pointer;color: #757575;font-size: 20px!important;"'>
            <i class="fas fa-times"></i>
          </div>
          
  
          <a  style="display: flex;justify-content: center; width: 20%;margin: auto;" href="#">
            <img src="https://api.iconify.design/mdi:alpha-t-box-outline.svg" style="width:60px;" alt="" srcset="">
          </a>

          <a href="#" 
            class="ggl btn btn-outline-dark btn-md btn-block p-2 mt-5 "  
            type="button"
            style="background-color: #fff; display: block;"
          >
            <i style="font-size: 18px;color:#DB4437; " class="fa fa-google mr-1"></i>  CONTINUE WITH GOOGLE
          </a>
         <a  href="#"
          class="fb btn btn-outline-dark btn-md btn-block p-2 mt-4"  
          type="button"
          style="background-color: #fff;display: block;"
          >
          <i style="font-size: 18px;color:#4267B2;" class="fa fa-facebook mr-1"></i>   CONTINUE WITH FACEBOOK
         </a>
        <h5 class="m-3" style="text-align: center;">OR</h5>
         <form action="/login" method="post">
            {% csrf_token %}
           <input class="mb-3" type="text" name="username" id="username" placeholder="username" required>
           <input class="mb-3" type="password" name="password" id="password" placeholder="password" required>
           <button class="btn btn-outline-dark btn-md btn-block p-2 mt-4"  
           type="submit"
           style="width: 30%;margin: auto; font-size: 14px; font-weight: 600; display: block;"
           >LOGIN
         </button>
         <p class="mt-5" data-toggle="modal" data-target="#exampleModal1" style="cursor: pointer;" data-dismiss="modal">Don`t have an account ?</p>
         </form>
            
        </div>
      </div>
    </div>
  </div>